* {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.top-section {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    padding: 25px 50px;
}

.intro-area {
    width: 50%;
    padding: 50px;
}

h1 {
    margin: 25px 0;
    font-size: 50px;
}

h3 {
    margin: 50px 0;
}

.title-name {
    color: orange;
}

a {
    text-decoration: none;
    background: linear-gradient(to top left, tomato 10%, orange 90%);
    color: #fff;
    padding: 10px 25px;
    margin-top: 50px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 700;
}

.intro-image {
    background-image: url(images/my-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;
    padding-bottom: 50px;
}

.intro-area img {
    width: 60%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    position: relative;
    left: 80px;
    top: 15px;
}

.dream-banner {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}